.comment {
  margin: 1rem 0;
  padding: 0 1rem;
  border-left: 3px solid #FF9B52;
  text-align: start;
}

.comment__user {
  font-size: 16px;
}

.comment__content {
  font-size: 18px;
}

.comment-actions {
  display: flex;
  margin-top: 1rem;
}

.comment__btn-icon {
  all: unset;
  cursor: pointer;
  margin-right: 1.5rem;
  border-radius: 50px;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment__btn-icon:hover {
  opacity: .5;
}